<%= form_for [:user, @article] do |f| %>
  <div class="field" data-attr="title">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    <span class="errors" data-for="title"></span>
    <br>
    <%= link_to "apply changes", '#', class: 'apply_changes none', data: {for: 'title'} %>
  </div>

  <div class="field" data-attr="text">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
    <span class="errors" data-for="text"></span>
    <br>
    <%= link_to "apply changes", '#', class: 'apply_changes none', data: {for: 'text'} %>
  </div>

  <div class="actions">
    <%= f.submit %>
    <span class="errors" data-for="base"></span>
  </div>
<% end %>

<% if @article.persisted? %>
<section id="comments">
  <h3>Comments</h3>
</section>
<% end %>