<h1>Sign up</h1>

<%= form_for User.new, url: users_url do |f| %>
  <div class="field" data-attr="email">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
    <span class="errors" data-for="email"></span>
  </div>

  <div class="field" data-attr="password">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
    <span class="errors" data-for="password"></span>
  </div>

  <div class="field" data-attr="password_confirmation">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
    <span class="errors" data-for="password_confirmation"></span>
  </div>

  <div class="field" data-attr="username">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
    <span class="errors" data-for="username"></span>
  </div>

  <div class="actions">
    <%= f.submit %>
    <span class="errors" data-for="base"></span>
  </div>
<% end %>

<p id="verification_info" class="none">Please wait while administrator verifies your account...</p>
<p id="verification_progress" class="none">Your account is just verified...</p>

<p id="sign_in_paragraph">Already have account? <%= link_to "Sign in", new_user_session_url %></p>
<p>Go back to <%= link_to "main page", root_url %></p>