<%= form_for user, url: admin_user_path(user), html: {id: "admin_user_form"} do |f| %>
  <% if f.object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(f.object.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% f.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" data-attr="email">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
    <span class="errors" data-for="email"><%= f.object.errors[:email].first %></span>
  </div>

  <div class="field" data-attr="password">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
    <span class="errors" data-for="password"><%= f.object.errors[:password].first %></span>
  </div>

  <div class="field" data-attr="password_confirmation">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
    <span class="errors" data-for="password_confirmation"><%= f.object.errors[:password_confirmation].first %></span>
  </div>

  <div class="field" data-attr="username">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
    <span class="errors" data-for="username"><%= f.object.errors[:username].first %></span>
  </div>

  <div class="field" data-attr="confirmed">
    <%= f.label :confirmed, "Confirmed" %><br>
    <%= f.check_box :confirmed %>
  </div>

  <div class="actions">
    <%= f.submit %>
    <span class="errors" data-for="base"><%= f.object.errors[:base].first %></span>
  </div>
<% end %>