<%= form_for user, url: admin_user_path(user), html: {id: "admin_user_form"} do |f| %>
  <div class="field" data-attr="email">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
    <span class="errors" data-for="email"></span>
  </div>

  <div class="field" data-attr="password">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
    <span class="errors" data-for="password"></span>
  </div>

  <div class="field" data-attr="password_confirmation">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
    <span class="errors" data-for="password_confirmation"></span>
  </div>

  <div class="field" data-attr="username">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
    <span class="errors" data-for="username"></span>
  </div>

  <div class="field" data-attr="confirmed">
    <%= f.label :confirmed, "Confirmed" %><br>
    <%= f.check_box :confirmed %>
  </div>

  <div class="actions">
    <%= f.submit %>
    <span class="errors" data-for="base"></span>
  </div>
<% end %>